@model ExamSchedule.Models.ArrangmentModels.MainArrangementModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var maxDayPartCount = Model.DayParts.Max(x => x.Length);


}


<table border="1" style="width:100%;">
    @for (int i = 0; i < Model.Schedule.DaysCount; i++)
    {
        <tr>
            @{
                var list = Model.Parts.Where(x => x.IndexDay == i).OrderBy(x => x.IndexPart).ToList();
                foreach (var item in list)
                {
                    var key = item.UniqueKey;
                    var exams = Model.ExamPlacements.Where(x => x.DayPartUniqueKeys.Contains(key));
                    if (exams.Count() > 0)
                    {
                        <td>
                            @foreach (var e_items in exams)
                            {
                               @e_items.ExamName 
                                @:<br>
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.ToString()
                        </td>
                    }
                }
            }

        </tr>
    }

</table>


@section Scripts{
    <script>
        var dayparts = @Html.Raw(Json.Serialize(Model.Parts) );
        var placements = @Html.Raw(Json.Serialize(Model.ExamPlacements) );
        log(placements);
        log(dayparts);
    </script>

}





