@model ExamSchedule.Models.ArrangmentModels.MainArrangementModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var maxDayPartCount = Model.DayParts.Max(x => x.Length);

}
@section Styles{

}

@for (var i = 0; i < Model.Schedule.DaysCount; i++)
{

    var day = Model.Schedule.StartDateParsed.AddDays(i);
    var placements = Model.ExamPlacements.Where(x => x.ExamFullDate.HasValue && x.ExamFullDate.Value.Year == day.Year && x.ExamFullDate.Value.Month == day.Month && x.ExamFullDate.Value.Day == day.Day).ToList();

    foreach (var item in placements)
    {
        <div class="row">
            <div class="col-3">@item.ExamName</div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
    }



}